@keyframes ripplePink {
    0% {
        box-shadow: 0 4px 10px rgba(255, 65, 130, 0.1),
            0 0 0 0 rgba(255, 65, 130, 0.1),
            0 0 0 5px rgba(255, 65, 130, 0.1),
            0 0 0 10px rgba(255, 65, 130, 0.1);
    }

    100% {
        box-shadow: 0 4px 10px rgba(255, 65, 130, 0.1),
            0 0 0 5px rgba(255, 65, 130, 0.1),
            0 0 0 10px rgba(255, 65, 130, 0.1),
            0 0 0 20px rgba(255, 65, 130, 0);
    }
}

.rippleRoot {
	background: #040a1a;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.eventRippleRoot {
	background: #fff;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.shadowRipple.pink {
	margin-left: 80px;
    background: #ff4081;
    color: white;
    animation: ripplePink 0.2s linear infinite;
}
