@font-face {
  font-family: "iconfont"; /* Project id 1948912 */
  src: url('iconfont.woff2?t=1632627142233') format('woff2'),
       url('iconfont.woff?t=1632627142233') format('woff'),
       url('iconfont.ttf?t=1632627142233') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ordermanager:before {
  content: "\e695";
}

.icon-billsmanager:before {
  content: "\e696";
}

.icon-apimanager:before {
  content: "\e694";
}

.icon-capittalmanager:before {
  content: "\e688";
}

.icon-projectmanager:before {
  content: "\e68b";
}

.icon-outcall:before {
  content: "\e68c";
}

.icon-systemmanager:before {
  content: "\e68d";
}

.icon-merchantmanager:before {
  content: "\e68e";
}

.icon-zonglan1:before {
  content: "\e68f";
}

.icon-tdpmanager:before {
  content: "\e690";
}

.icon-export:before {
  content: "\e691";
}

.icon-productmanager:before {
  content: "\e692";
}

.icon-smsmarket:before {
  content: "\e693";
}

.icon-jiankong:before {
  content: "\e686";
}

.icon-smsmarket_1:before {
  content: "\e668";
}

.icon-outcall_1:before {
  content: "\e679";
}

.icon-projectmanager_1:before {
  content: "\e67b";
}

.icon-zonglan:before {
  content: "\e67c";
}

.icon-chanpinguanli:before {
  content: "\e678";
}

.icon-shanghuguanli:before {
  content: "\e67a";
}

.icon-tiquwenjian:before {
  content: "\e63f";
}

.icon-api:before {
  content: "\e63e";
}

.icon-business:before {
  content: "\e63d";
}

.icon-app:before {
  content: "\e63b";
}

.icon-project:before {
  content: "\e63a";
}

.icon-merchant:before {
  content: "\e637";
}

.icon-tdpmanager_1:before {
  content: "\e636";
}

.icon-apimanager_1:before {
  content: "\e635";
}

.icon-billsmanager_1:before {
  content: "\e634";
}

.icon-capittalmanager_1:before {
  content: "\e632";
}

.icon-ordermanager_1:before {
  content: "\e630";
}

.icon-productmanager_1:before {
  content: "\e62f";
}

.icon-merchantmanager_1:before {
  content: "\e62e";
}

.icon-systemmanager_1:before {
  content: "\e62d";
}

.icon-refund:before {
  content: "\e603";
}

.icon-gailan:before {
  content: "\e653";
}

.icon-export_1:before {
  content: "\e643";
}

.icon-repayment:before {
  content: "\e610";
}

.icon-audit:before {
  content: "\e602";
}

.icon-recharge:before {
  content: "\e631";
}

.icon-credit:before {
  content: "\e63c";
}

.icon-calendar:before {
  content: "\e61a";
}

.icon-wrong:before {
  content: "\e607";
}

.icon-right:before {
  content: "\e604";
}

.icon-warninfo:before {
  content: "\e600";
}

.icon-review:before {
  content: "\e638";
}

.icon-copy:before {
  content: "\e66b";
}

.icon-view:before {
  content: "\e66c";
}

.icon-disabled:before {
  content: "\e762";
}

.icon-enable:before {
  content: "\e66a";
}

.icon-setting:before {
  content: "\e61f";
}

.icon-edit:before {
  content: "\e62b";
}

.icon-del:before {
  content: "\e633";
}

.icon-password:before {
  content: "\e65f";
}

.icon-ground:before {
  content: "\e66d";
}

.icon-undercarriage:before {
  content: "\e66e";
}

